html {
    background: #fff;
    color: #000;
    font-family: "DejaVu Serif", dejavu, "Times New Roman", Times, serif;
    padding: 0;
}

body {
    counter-reset: sec1;
    counter-reset: sec2;
    margin: 0.5em auto;
    max-width: 80ex;
    padding: 0 1ex;
}

@media screen and (min-width: 480px) {
    body {
        margin: 1em auto;
    }
}


/*** Header ***/

header {
    background: #ddd;
    margin: 0 0 1em;
    padding: 0;
    text-align: right;
}

header .site-title {
    font-size: 130%;
    font-stretch: condensed;
    font-style: italic;
    margin: 0;
    padding: 0;
    text-align: right;
}

header a:visited {
    color: #00d;
}

@media screen and (min-width: 480px) {
    header {
        background: hsla(0, 0%, 100%, 0);
        float: right;
        margin: 0 0 0.4em 2ex;
    }

    header .site-title {
        font-size: 140%;
    }
}


/*** Content ***/

main, [role=main] {
    line-height: 140%;
}

@media screen and (min-width: 480px) {
    main, [role=main] {
        line-height: 160%;
    }
}

section {
    margin: 3em 0;
}

section section {
    margin: 2.5em 0;
}

section section section {
    margin: 1.7em 0;
}

nav {
    background: rgba(0, 0, 0, 0.1);
    border-left: 1ex solid #aaa;
    margin: 1em 0 1em 3ex;
    padding: 0.5em 1ex;
}

nav h2 {
    font-size: 100%;
    margin: 0 0 0.8em;
}

nav ul {
    list-style: "– ";
    margin: 0 0 0 2ex;
    padding: 0;
}

nav ul ul {
    margin: 0 0 0 3ex;
}

@media screen and (min-width: 480px) {
    nav {
        float: right;
        margin: 0.5em 0 1em 3ex;
        max-width: 50%;
    }
}

h1 {
    font-size: 150%;
    font-stretch: condensed;
    font-weight: normal;
    margin: 0 0 1em;
    padding: 0;
}

@media screen and (min-width: 480px) {
    h1 {
        font-size: 170%;
        margin: 0 0 0.4em;
    }
}

h2 {
    font-size: 150%;
    font-weight: bold;
    margin: 0 0 0.5em;
}

h3 {
    font-size: 120%;
    font-weight: bold;
    margin: 0 0 0.5em;
}

h4 {
    font-size: 100%;
    font-weight: bold;
    margin: 1em 0;
}

#content    { counter-reset: sec1; }
#content h2 { counter-reset: sec2; }
#content h3 { counter-reset: sec3; }

#content h2::before {
    content: counter(sec1) ". ";
    counter-increment: sec1;
}

#content h3::before {
    content: counter(sec1) "." counter(sec2) ". ";
    counter-increment: sec2;
}

#content h4::before {
    content: counter(sec1) "." counter(sec2) "." counter(sec3) ". ";
    counter-increment: sec3;
}

.meta {
    font-size: 80%;
}

dd, li, p {
    text-align: justify;
}

dd {
    box-sizing: border-box;
    margin: 0.5em 0 0;
    padding: 0 0 0 4ex;
}

dl {
    padding: 0.1em 0;
}

dt {
    box-sizing: border-box;
    clear: left;
    float: left;
    margin: 0.5em 1.5ex 0 0;
    padding: 0;
}

math {
    font-family: dejavu-math, "DejaVu Serif", dejavu, "Times New Roman", Times, serif;
    font-size: 120%;
}

p {
    margin: 1em 0;
    padding: 0;
}

p img {
    clear: left;
    float: left;
    margin: 0.2em 1.5ex 0.2em 0;
    padding: 0;
}

pre {
    border: 1px solid #aaa;
    font-family: "DejaVu Sans Mono", dejavu-mono, monospace;
    line-height: 150%;
    margin: 1.5em 0 1.5em 3ex;
    overflow: auto;
    padding: 0.5em 1ex;
}

table {
    border-collapse: collapse;
    font-size: 90%;
    margin: 1em auto;
    max-width: 90%;
    overflow: auto;
    padding: 0;
}

table thead {
    border-bottom: 2px solid;
}

table tbody tr {
    background: rgba(0, 0, 0, 0.1);
}

table td, table th {
    padding: 0.6em 1.5ex;
}

table tbody tr:nth-child(2n) {
    background: rgba(0, 0, 0, 0.175);
}

@media screen and (min-width: 480px) {
    table {
        font-size: 100%;
    }
}


/*** Footer ***/

footer {
    background: #ddd;
    clear: both;
    font-size: 85%;
    margin: 2em 0 0;
    padding: 0.2em 0.5ex;
    text-align: right;
}

footer p {
    margin: 0;
    padding: 0;
    text-align: right;
}


/*** Emphasis ***/

a:link {
    color: #00d;
    text-decoration: none;
}

a:link:hover {
    text-decoration: underline;
}

a:visited {
    color: #55f;
}

code {
    font-family: "DejaVu Sans Mono", dejavu-mono, monospace;
}

dd code, li code, p code {
    color: #048;
    padding: 0 0.1ex;
}

td code {
    color: #024;
}

q {
    quotes: "“" "”" "‘" "’";
}

html[lang=de] q {
    quotes: "„" "“" "‚" "‘";
}


/*** Code highlighting ***/

pre .co {
    color: #444;
    font-size: 90%;
}

pre .dt {
    color: #060;
}

pre .fu {
    color: #00c;
}

pre .kw {
    font-weight: bold;
}


/*** Fonts ***/

@font-face {
    font-family: dejavu;
    src: url(dejavu-fonts/DejaVuSerif.ttf);
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: dejavu;
    src: url(dejavu-fonts/DejaVuSerif-Bold.ttf);
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
}


@font-face {
    font-family: dejavu;
    src: url(dejavu-fonts/DejaVuSerif-BoldItalic.ttf);
    font-stretch: normal;
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: dejavu;
    src: url(dejavu-fonts/DejaVuSerif-Italic.ttf);
    font-stretch: normal;
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: dejavu;
    src: url(dejavu-fonts/DejaVuSerifCondensed.ttf);
    font-stretch: condensed;
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: dejavu;
    src: url(dejavu-fonts/DejaVuSerifCondensed-Bold.ttf);
    font-stretch: condensed;
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: dejavu;
    src: url(dejavu-fonts/DejaVuSerifCondensed-BoldItalic.ttf);
    font-stretch: condensed;
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: dejavu;
    src: url(dejavu-fonts/DejaVuSerifCondensed-Italic.ttf);
    font-stretch: condensed;
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: dejavu-math;
    src: url(dejavu-fonts/DejaVuMathTeXGyre.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: dejavu-mono;
    src: url(dejavu-fonts/DejaVuSansMono.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: dejavu-mono;
    src: url(dejavu-fonts/DejaVuSansMono-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: dejavu-mono;
    src: url(dejavu-fonts/DejaVuSansMono-BoldItalic.ttf);
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: dejavu-mono;
    src: url(dejavu-fonts/DejaVuSansMono-Italic.ttf);
    font-style: italic;
    font-weight: normal;
}
